[Unit]
Description=Checa a cada 20 min se o ComfyUI está ocioso para desligá-lo

[Timer]
OnBootSec=20min
OnUnitActiveSec=20min
RandomizedDelaySec=1min

[Install]
WantedBy=timers.target
