[Unit]
Description=Run Weekly Disk Guardian diagnosis every Sunday

[Timer]
OnCalendar=Sun 18:00
Persistent=true
RandomizedDelaySec=2min
Unit=weekly-disk-guardian.service

[Install]
WantedBy=timers.target
